<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>MyWeather</title>
	<div th:insert="~{parts/general :: head}"/>
</head>
<body>
<div th:with="object=${user}">
	<div th:insert="~{parts/navbar :: navbar}"/>
	<div class="container-fluid" th:if="${locationWeatherMap}">
		<div class="row">
			<div class="card m-2" style="width: 30rem" th:each="item : ${locationWeatherMap}">
				<div class="card-body">
					<div class="container">
						<div class="row">
							<div class="col-10">
								<h4 class="card-title" th:text="${item.key.name}">Location</h4>
								<h6 class="text-muted card-subtitle mb-3"
								    th:text="${#dates.format(item.value.date, 'HH:mm:ss')}">Time</h6>
							</div>
							<div class="col-2">
								<div class="dropdown">
									<button aria-expanded="false" class="btn" data-toggle="dropdown"
									        style="opacity: 1;" type="button">
										<svg class="bi bi-three-dots-vertical" fill="currentColor"
										     height="1em" viewBox="0 0 16 16" width="1em"
										     xmlns="http://www.w3.org/2000/svg">
											<path
													d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z">
											</path>
										</svg>
									</button>
									<div class="dropdown-menu">
										<form th:method="DELETE" th:action="@{/}">
											<input name="locationId" th:value="${item.key.id}" type="hidden">
											<button class="dropdown-item" type="submit">Delete</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row mb-2">
							<div class="col-md-6 text-start align-self-center">
								<img alt="weather-image" class="card-img-top"
								     th:src="@{'/images/' + ${item.value.weatherCondition} + '-' + ${item.value.timeOfDay} + '.svg'}">
							</div>
							<div class="col-md-6 text-end align-self-center">
								<h1 class="text-primary" th:text="${item.value.temperature} + '°C'"></h1>
								<p th:text="'Feels like ' + ${item.value.temperatureFeelsLike} + '°C'"></p>
							</div>
						</div>
					</div>
					<p class="fs-5 fw-semibold" th:text="${#strings.capitalize(item.value.description)}">
					<div class="container mb-3">
						<div class="row">
							<div class="col-md-6">
								<ul class="list-group">
									<li class="list-group-item">
										<i class="fas fa-temperature-low"
										   style="margin-right: 4px;width: 20px;"></i>
										<svg class="bi bi-sunrise" fill="currentColor" height="1em"
										     style="margin-right: 7px;width: 20px;margin-left: -2px;"
										     viewBox="0 0 16 16" width="1em"
										     xmlns="http://www.w3.org/2000/svg">
											<path d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V9.5a.5.5 0 0 1 1 0v1.585a1.5 1.5 0 0 1 1 1.415z"/>
											<path d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1z"/>
										</svg>
										<span th:text="'Min ' + ${item.value.temperatureMinimum} + '°C'"></span>
									</li>
									<li class="list-group-item">
										<i class="fas fa-cloud"
										   style="margin-right: 4px;width: 20px;padding: 0px;font-size: 14px;"></i>
										<svg class="bi bi-sunrise" fill="currentColor" height="1em"
										     style="margin-right: 7px;width: 20px;margin-left: -2px;"
										     viewBox="0 0 16 16" width="1em"
										     xmlns="http://www.w3.org/2000/svg">
											<path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
										</svg>
										<span th:text="'Clouds ' + ${item.value.cloudiness} + '%'"></span>
									</li>
									<li class="list-group-item">
										<i class="fas fa-wind" style="margin-right: 5px;width: 20px;"></i>
										<svg class="bi bi-sunrise" fill="currentColor" height="1em"
										     style="margin-right: 7px;width: 20px;margin-left: -2px;"
										     viewBox="0 0 16 16" width="1em"
										     xmlns="http://www.w3.org/2000/svg">
											<path d="M12.5 2A2.5 2.5 0 0 0 10 4.5a.5.5 0 0 1-1 0A3.5 3.5 0 1 1 12.5 8H.5a.5.5 0 0 1 0-1h12a2.5 2.5 0 0 0 0-5zm-7 1a1 1 0 0 0-1 1 .5.5 0 0 1-1 0 2 2 0 1 1 2 2h-5a.5.5 0 0 1 0-1h5a1 1 0 0 0 0-2zM0 9.5A.5.5 0 0 1 .5 9h10.042a3 3 0 1 1-3 3 .5.5 0 0 1 1 0 2 2 0 1 0 2-2H.5a.5.5 0 0 1-.5-.5z"/>
										</svg>
										<span th:text="|${item.value.windDirection}° ${item.value.windSpeed} km/h|"></span>
										<span th:if="${item.value.windGust}"
										      th:text="|(Gust ${item.value.windGust} km/h)|"></span>
									</li>
									<li class="list-group-item">
										<svg class="bi bi-sunrise" fill="currentColor" height="1em"
										     style="margin-right: 7px;width: 20px;margin-left: -2px;"
										     viewBox="0 0 16 16" width="1em"
										     xmlns="http://www.w3.org/2000/svg">
											<path
													d="M7.646 1.146a.5.5 0 0 1 .708 0l1.5 1.5a.5.5 0 0 1-.708.708L8.5 2.707V4.5a.5.5 0 0 1-1 0V2.707l-.646.647a.5.5 0 1 1-.708-.708l1.5-1.5zM2.343 4.343a.5.5 0 0 1 .707 0l1.414 1.414a.5.5 0 0 1-.707.707L2.343 5.05a.5.5 0 0 1 0-.707zm11.314 0a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zM8 7a3 3 0 0 1 2.599 4.5H5.4A3 3 0 0 1 8 7zm3.71 4.5a4 4 0 1 0-7.418 0H.499a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1h-3.79zM0 10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 10zm13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z">
											</path>
										</svg>
										<span th:text="'Sunrise ' + ${#dates.format(item.value.sunrise, 'HH:mm:ss')}"></span>
									</li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul class="list-group">
									<li class="list-group-item">
										<i class="fas fa-temperature-high"
										   style="margin-right: 0px;width: 20px;"></i>
										<svg class="bi bi-sunrise" fill="currentColor" height="1em"
										     style="margin-right: 7px;width: 20px;margin-left: -2px;"
										     viewBox="0 0 16 16" width="1em"
										     xmlns="http://www.w3.org/2000/svg">
											<path d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V2.5a.5.5 0 0 1 1 0v8.585a1.5 1.5 0 0 1 1 1.415z"/>
											<path d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1z"/>
										</svg>
										<span th:text="'Max ' + ${item.value.temperatureMaximum} + '°C'"></span>
									</li>
									<li class="list-group-item">
										<i class="icon ion-waterdrop"
										   style="margin-right: 0px;width: 20px;"></i>
										<svg class="bi bi-sunrise" fill="currentColor" height="1em"
										     style="margin-right: 7px;width: 20px;margin-left: -2px;"
										     viewBox="0 0 16 16" width="1em"
										     xmlns="http://www.w3.org/2000/svg">
											<path d="M13.5 0a.5.5 0 0 0 0 1H15v2.75h-.5a.5.5 0 0 0 0 1h.5V7.5h-1.5a.5.5 0 0 0 0 1H15v2.75h-.5a.5.5 0 0 0 0 1h.5V15h-1.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 .5-.5V.5a.5.5 0 0 0-.5-.5h-2zM7 1.5l.364-.343a.5.5 0 0 0-.728 0l-.002.002-.006.007-.022.023-.08.088a28.458 28.458 0 0 0-1.274 1.517c-.769.983-1.714 2.325-2.385 3.727C2.368 7.564 2 8.682 2 9.733 2 12.614 4.212 15 7 15s5-2.386 5-5.267c0-1.05-.368-2.169-.867-3.212-.671-1.402-1.616-2.744-2.385-3.727a28.458 28.458 0 0 0-1.354-1.605l-.022-.023-.006-.007-.002-.001L7 1.5zm0 0-.364-.343L7 1.5zm-.016.766L7 2.247l.016.019c.24.274.572.667.944 1.144.611.781 1.32 1.776 1.901 2.827H4.14c.58-1.051 1.29-2.046 1.9-2.827.373-.477.706-.87.945-1.144zM3 9.733c0-.755.244-1.612.638-2.496h6.724c.395.884.638 1.741.638 2.496C11 12.117 9.182 14 7 14s-4-1.883-4-4.267z"/>
										</svg>
										<span th:text="'Humidity ' + ${item.value.humidity} + '%'"></span>
									</li>
									<li class="list-group-item">
										<i class="fas fa-angle-double-down"
										   style="margin-right: 0px;width: 20px;"></i>
										<svg class="bi bi-sunrise" fill="currentColor" height="1em"
										     style="margin-right: 7px;width: 20px;margin-left: -2px;"
										     viewBox="0 0 16 16" width="1em"
										     xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.5a.5.5 0 0 1 1 0V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0zm-.354 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V11h-1v3.293l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
										</svg>
										<span th:text="'Pressure ' + ${item.value.pressure} + ' hPa'"></span>
									</li>
									<li class="list-group-item">
										<svg class="bi bi-sunset" fill="currentColor" height="1em"
										     style="margin-right: 5px;width: 20px;margin-left: -5px;"
										     viewBox="0 0 16 16" width="1em"
										     xmlns="http://www.w3.org/2000/svg">
											<path
													d="M7.646 4.854a.5.5 0 0 0 .708 0l1.5-1.5a.5.5 0 0 0-.708-.708l-.646.647V1.5a.5.5 0 0 0-1 0v1.793l-.646-.647a.5.5 0 1 0-.708.708l1.5 1.5zm-5.303-.51a.5.5 0 0 1 .707 0l1.414 1.413a.5.5 0 0 1-.707.707L2.343 5.05a.5.5 0 0 1 0-.707zm11.314 0a.5.5 0 0 1 0 .706l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zM8 7a3 3 0 0 1 2.599 4.5H5.4A3 3 0 0 1 8 7zm3.71 4.5a4 4 0 1 0-7.418 0H.499a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1h-3.79zM0 10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 10zm13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z">
											</path>
										</svg>
										<span th:text="'Sunset ' + ${#dates.format(item.value.sunset, 'HH:mm:ss')}"></span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:insert="~{parts/general :: body}"/>
</body>
</html>